*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    
    
}
header{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position:sticky;
    top: 0;
    z-index: 3;
    background-color: white;
    
    
    
    

    .header-left{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:2rem;
    }
    .header-right{
        align-items: center;
        justify-content: center;
        display: flex;
        gap:2rem;
        .profile{
            width: 40px;
            display: block;
        }
        .product-cart {
          position: relative;
          
        }
        .cart-svg{
            width: 30px;
        }

        .cart-count {
        position: absolute;
        top: -5px;
        right: -5px;
        background: red;
        color: white;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 50%;
        }

    }

   
    
}





nav{
    
    

    ul{
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    li{
      list-style: none;
    } 
    a{
        font-size: 18px;
        color:gray;
    }  
}
.menu-icon{

    display: none;
    cursor: pointer;
   

}
.menu-icon img{
    width: 20px;
}





main{
    display: flex;
    padding: 0 100px;
    align-items: center;
    justify-content: center;
   
    .left{
    width: 50%;
    padding:  60px 80px;
    
   

    
   }

   .right{
    padding:60px 80px;
    width: 50%;
    
    }
    
}

.left .title{
    font-size: 3rem;
    color: rgb(9, 9, 21);
    font-weight: bold;
  

}


.image-product{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    display: none;
    object-fit: cover;
    position: relative;
}

.column{
    
    width: calc(100%-50px);
}
.row{
    display: flex;
    gap: 10px;
    margin: auto ;
    width: 100%;

    
}

.thumb{
    width: 100%;
    border-radius: 8px;
   
}



.thumb.active {
    border: 2px solid orangered;
    border-radius: 8px;
    
    
}


.image-product.active {
    display: block;
}




.product-info{

    display: flex;
    flex-direction: column;
    gap: 20px;

    
}
.company{
    font-size: 24px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;


}

.description{
    color: grey;
    font-size: 24px;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
}
.price-box{

    .price{
        font-size: 24px;
        font-weight: bold;

    }
    .discount{
        font-size: 18px;
        padding: 5px 10px;
        border-radius: 6px;
        background-color: black;
        color: white;
        margin: 0 20px;
    }

}
.old-price{
    text-decoration: line-through;
    color: grey;
    font-size: 18px;
    margin-bottom:  20px;
}
.quantity-box{
     display: flex;
     gap: 10px;
     margin: 20px 0;
     
    .quantity{
        
        display: flex;
        width: 100%;
        border-radius: 10px;
        button{
            padding: 15px;
            border: none;
            font-size: 18px;
            width: 100%;
        }
        .minus{
            
            border-radius:8px 0 0 8px ;
            background-color:darkgray;
           
        }
        .count{
            font-weight: bold;
            padding: 15px;
            background-color:darkgray;
        }
        .plus{
            
            border-radius:0 8px 8px 0;
            background-color:darkgray;
            
        }
        
    }
    
    .add{

        display:flex;
        align-items: center;
        justify-content: center;
        padding: 10px 60px;
        gap: 10px;
        color: white;
        background-color: orangered;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        transition: 0.5s;
        width: 100%;
        

        
        
       
        
        
    }
    .add:hover{
        background-color: orange;
        color: black;
    }
    
}




.slider-wrapper {
  position: relative;
}

.prev, .next {
 
  display:none;
}
.cart-notification.active{
    position: absolute;
    border-radius: 10px;
    font-size: 18px;
    background-color: green;
    padding: 10px 30px;
    top: 20%;
    right: 25%;
    transform: translate(50%, 50%);
    z-index: 1000;
    display: block;
    transition: 0.5s;
    color: white;
    text-align: center;
    
}
.cart-notification{
    display: none;
}





